/*face指脸部表情文件*/
.facelink {
    width: 60px;
    height: 60px;
}

.face {
    width: 60px;
    height: 60px;
    background: url("/images/face/face.png") no-repeat center center;
    display:block;
}

    .face.face_h1 {
        background-position-y:0px;
    }
    .face.face_h2 {
        background-position-y: -60px;
    }
    .face.face_h3 {
        background-position-y: -120px;
    }
    .face.face_h4 {
        background-position-y: -180px;
    }
    .face.face_h5 {
        background-position-y: -240px;
    }
    .face.face_h6 {
        background-position-y: -300px;
    }
    .face.face_h7 {
        background-position-y: -360px;
    }
    .face.face_h8 {
        background-position-y: -420px;
    }

    .face.face_w1 {
        background-position-x: -0px;
    }

    .face.face_w2 {
        background-position-x: -60px;
    }

    .face.face_w3 {
        background-position-x: -120px;
    }

    .face.face_w4 {
        background-position-x: -180px;
    }

    .face.face_w5 {
        background-position-x: -240px;
    }

    .face.face_w6 {
        background-position-x: -300px;
    }

    .face.face_w7 {
        background-position-x: -360px;
    }

    .face.face_w8 {
        background-position-x: -420px;
    }